language: java
install: true

jdk:
- openjdk11

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle

script:
  - ./gradlew build

deploy:
  - provider: script
    script: ./gradlew publish -Dorg.gradle.parallel=false
    skip_cleanup: true
    dry-run: false
    on:
      tags: true
      branch: master